<!DOCTYPE html>
<html>
    <body>
        <style>
            table, th, td {
                border: 1px solid;
            }
            table {
                border-collapse: collapse;
            }
        </style>
        <h2>Sys</h2>
        <table>
            <thead>
                <th>Stat</th>
                <th>Value</th>
            </thead>
            <tr>
                <td>HeapAlloc</td>
                <td>{{.stats.HeapAlloc}}</td>
            </tr>
            <tr>
                <td>TotalAlloc</td>
                <td>{{.stats.TotalAlloc}}</td>
            </tr>
            <tr>
                <td>SysMem</td>
                <td>{{.stats.SysMem}}</td>
            </tr>
            <tr>
                <td>NumGC</td>
                <td>{{.stats.NumGC}}</td>
            </tr>
            <tr>
                <td>Clients Count</td>
                <td>{{.stats.ClientsCount}}</td>
            </tr>
            <tr>
                <td>Rooms Count</td>
                <td>{{.stats.RoomsCount}}</td>
            </tr>
        </table>
        <h2>Stats</h2>
        <table>
            <thead>
                <th>Stat</th>
                <th>Value</th>
            </thead>
            <tr>
                <td>Room Create Count</td>
                <td>{{.stats.RoomCreations}}</td>
            </tr>
            <tr>
                <td>Room Join Count</td>
                <td>{{.stats.RoomJoins}}</td>
            </tr>
            <tr>
                <td>Client Connection Requests</td>
                <td>{{.stats.ClientConnections}}</td>
            </tr>
        </table>
        <h2>Active Rooms</h2>
        <table style="width: 100%;">
            <thead>
                <th>Room Name</th>
                <th>App Name</th>
                <th>Time (sec)</th>
                <th>Packets In</th> 
                <th>Packets Out</th> 
                <th>Bytes In</th> 
                <th>Bytes Out</th> 
            </thead>
            <tbody>
                {{range .rooms}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.AppName}}</td>
                    <td>{{.Time}}</td>
                    <td>{{.PacketsIn}}</td>
                    <td>{{.PacketsOut}}</td>
                    <td>{{.BytesIn}}</td>
                    <td>{{.BytesOut}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <h2>Clients</h2>
        <table style="width: 100%;">
            <thead>
                <th>Name</th>
                <th>Room</th>
                <th>Packets In</th> 
                <th>Packets Out</th> 
                <th>Bytes In</th> 
                <th>Bytes Out</th> 
            </thead>
            <tbody>
                {{range .clients}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.RoomName}}</td>
                    <td>{{.PacketsIn}}</td>
                    <td>{{.PacketsOut}}</td>
                    <td>{{.BytesIn}}B</td>
                    <td>{{.BytesOut}}B</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>